[submodule "lib/PS4-esp32"]
	path = lib/PS4-esp32
	url = https://github.com/youseetoo/PS4-esp32.git
	branch = master
[submodule "lib/AccelStepper"]
	path = lib/AccelStepper
	url = https://github.com/youseetoo/AccelStepper.git
	branch = master
[submodule "lib/esp32-ps3"]
	path = lib/esp32-ps3
	url = https://github.com/youseetoo/esp32-ps3.git
	branch = master
[submodule "lib/JPEGDecoder"]
	path = lib/JPEGDecoder
	url = https://github.com/youseetoo/JPEGDecoder.git
	branch = master
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
	branch = 6.x
[submodule "lib/Adafruit_NeoPixel"]
	path = lib/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
	branch = master
[submodule "lib/Adafruit-ST7735-Library"]
	path = lib/Adafruit-ST7735-Library
	url = https://github.com/adafruit/Adafruit-ST7735-Library.git
	branch = master
[submodule "lib/arduinoWebSockets"]
	path = lib/arduinoWebSockets
	url = https://github.com/Links2004/arduinoWebSockets
	branch = master
[submodule "lib/Adafruit-GFX-Library"]
	path = lib/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library
	branch = master


